*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1{
    background-color: rgb(196, 20, 20);
    color: white;
    width: fit-content;
    padding: 10px;
}
main{
    background-color: lightblue;
    color: black;
    flex: 1;
    padding: 10px;
}
button{
    background-color: rgb(196, 20, 20);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
} header{
    background-color: lightgreen;
    padding: 10px;
}
footer{
    background-color: cyan;
    padding: 10px;
    justify-content: center;
    display: flex;
}
.bola{
    background-color: rgb(248, 78, 78);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex; /* Use flexbox to center the content */
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
}
.retangulo{
    background-color: rgb(250, 249, 250);
    width: 100px;
    height: 50px;
    border: 2px solid black;
    display: flex; /* Use flexbox to center the content */
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
}
.triangulo{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid rgb(248, 225, 78);
    display: flex; /* Use flexbox to center the content */
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    
}
ul{
    padding: 10px;
    margin: 10px;
    list-style-type: square;
    display: flex;
    gap: 5%;
}
.carro{
    font-style: italic;
}
.esportivo-classico{
    font-weight: bold;
    text-decoration: underline;
}
.familiar{
    font-weight: 100;
    color:lightseagreen
}
.suv{
    color: purple;
}
[title]{
    text-transform: uppercase;
} /*utilizar title="title-desejado" permite selecionar atributos com um title específico. caso utilize title~="title-desejado" pode aplicar estilos a elementos que possuem pelo menos parte do title, como title~="carro" par aplicar a um elemento cujo title seja "carro esportivo"*/
/*title |= "elemento" aplica estilos a elementos cujo title seja exatamente "elemento" ou que comece com "elemento-"*/
/*title^="elemento" aplica estilos a elementos cujo title comece com "elemento"*/
/*title$="elemento" aplica estilos a elementos cujo title termine com "elemento"*/
/*title*="elemento" aplica estilos a elementos cujo title contenha "elemento"*/
.esportivo-classico, .familiar, .suv{
    background-color: lightgray;
}