*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1{
    background-color: rgb(196, 20, 20);
    color: white;
    width: fit-content;
    padding: 10px;
}
main{
    background-color: lightblue;
    color: black;
    flex: 1;
    padding: 10px;
}
section{
    margin: 20px 20px;
    border: 10px 10px;
}
button{
    background-color: rgb(196, 20, 20);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
} 
header{
    background-color: lightgreen;
    padding: 10px;
}
footer{
    background-color: cyan;
    padding: 10px;
    display: flex;
    justify-content: center;
}
section>h2{
    display: flex;
    justify-content: center;
}
.bola{
    background-color: rgb(248, 78, 78);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex; /* Use flexbox to center the content */
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
}
.retangulo{
    background-color: rgb(250, 249, 250);
    width: 100px;
    height: 50px;
    border: 2px solid black;
    display: flex; /* Use flexbox to center the content */
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
}
.triangulo{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid rgb(248, 225, 78);
    display: flex; /* Use flexbox to center the content */
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    
}
ul{
    padding: 10px;
    margin: 10px;
    list-style-type: square;
    display: flex;
    gap: 5%;
}
.carro{
    font-style: italic;
}
.lista-carros>ul>li{
    border-radius: 10px;
    padding: 5px;
}
.esportivo-classico{
    font-weight: bold;
    text-decoration: underline;
}
.familiar{
    font-weight: 100;
    color:rgb(25, 88, 85)
}
.suv{
    color: purple;
}
[title]{
    text-transform: uppercase;
} /*utilizar title="title-desejado" permite selecionar atributos com um title específico. caso utilize title~="title-desejado" pode aplicar estilos a elementos que possuem pelo menos parte do title, como title~="carro" par aplicar a um elemento cujo title seja "carro esportivo"*/
    /*title |= "elemento" aplica estilos a elementos cujo title seja exatamente "elemento" ou que comece com "elemento-"*/
    /*title^="elemento" aplica estilos a elementos cujo title comece com "elemento"*/
    /*title$="elemento" aplica estilos a elementos cujo title termine com "elemento"*/
    /*title*="elemento" aplica estilos a elementos cujo title contenha "elemento"*/
.esportivo-classico, .familiar, .suv{
    background-color: rgb(198, 197, 197);
}
.atributos{
    display: block;
    list-style-type: circle;

}
/*Seletores: 
    * - seleciona todos os elementos
    .classe - seleciona todos os elementos com a classe especificada
    #id - seleciona o elemento com o id especificado
    elemento - seleciona todos os elementos do tipo especificado (ex: p, div, h1)
    elemento.classe - seleciona todos os elementos do tipo especificado com a classe especificada
    elemento#id - seleciona o elemento do tipo especificado com o id especificado
    elemento1, elemento2 - seleciona todos os elementos do tipo especificado (ex: p, div, h1)
    elemento1 > elemento2 - seleciona todos os elementos do tipo especificado que são filhos diretos do elemento pai especificado. Subitens não são selecionados
    elemento1 + elemento2 - seleciona o primeiro elemento do tipo especificado que é imediatamente precedido pelo elemento pai especificado (o primeiro elemento que vier após o fechamento da tag pai)
    elemento1 ~ elemento2 - seleciona todos os elementos do tipo especificado que são precedidos pelo elemento pai especificado (todos os elementos do tipo especificado que vierem após o fechamento da tag pai)
    elemento1 elemento2 - seleciona todos os elementos do tipo especificado que são descendentes do elemento pai especificado
    elemento[atributo] - seleciona todos os elementos do tipo especificado que possuem o atributo especificado
    elemento ^= ""
*/
/*initial serve para definir o valor inicial de uma propriedade, ou seja, o valor que a propriedade teria se não tivesse sido definida.
inherit serve para definir que a propriedade deve herdar o valor da propriedade do elemento pai.*/
#retangulo{
    position: relative;
    margin: auto;
    background-color: rgb(0,148,64);
    height: 250px;
    width: 400px;
}
#losango {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 365px;
  height: 226.8px;
  background-color: rgb(255, 203, 0);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#circulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    background-color: #0A31A6;
    height: 150px;
    width: 150px;
    border-radius: 50%
}
.centraliza{
    margin: auto;
    position: relative;
}
.cores{
    width: 247.5px;
    height: 217.5px;
    margin: auto;
    position: relative;
    color: white;
    font-weight: bold;
}
.cores>div{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#vermelho{
    position: absolute;
    transform: translate(0%, 45%);    
    height: 150px;
    width: 150px;
    background-color: rgba(255, 0, 0, 0.75);
}
#verde{
    position: absolute;
    transform: translate(35%, 0%);    
    height: 150px;
    width: 150px;
    background-color: rgba(0, 128, 0, 0.75);
}
#azul{
    position: absolute;
    transform: translate(65%, 45%);    
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 255, 0.75);
}
.galeria{
    display: flex;
}
.quadro{
    border-radius: 5px;
    height: 250px;
    width: 400px;
    border: #000000 solid;
}
img{
    height: 100%;
    width: 100%;
}
#imagem-contain{
    object-fit: contain;
}
#imagem-cover{
    object-fit: cover;
}
#imagem-none{
    object-fit: none;
    object-position: left 35%;
}
#imagem-scale-down{
    object-fit: scale-down;
}
.background{
    width: inherit;
    min-height: 600px;
    border-radius: 5px;
    border: #000000 solid;
    /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Coca-Cola_logo.svg/960px-Coca-Cola_logo.svg.png');*/
}
#fundo{
    display: flex;
    width: 100%;
    height: 600px;
    flex-wrap: wrap;
}
#fundo>div{
    width: 50%;
    border-radius: 5px;
    border: #000000 solid;

}
#linear{
    background-image: linear-gradient(lightblue, cyan, purple);
}
#radial{
    background-image: radial-gradient(lightpink, pink, rgb(255, 95, 236));
}
#theme{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Coca-Cola_logo.svg/960px-Coca-Cola_logo.svg.png'), url('https://static.brusheezy.com/system/resources/previews/000/048/378/non_2x/hi-defintion-cracked-paint-texture-photoshop-textures.jpg');
    background-size: 20%, contain; /*background-size aceita os mesmos valores pré-definidos que o img aceita, como cover e contain*/
}
#pattern{
    background:
        radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
        radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
        radial-gradient(circle closest-side at 42% 22%, #d35 43%, rgba(221,51,85,0) 45%),
        radial-gradient(circle closest-side at 58% 22%, #d35 43%, rgba(221,51,85,0) 45%),
        radial-gradient(circle closest-side at 50% 35%, #d35 32%, rgba(221,51,85,0) 27%),

        radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
        radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
        radial-gradient(circle closest-side at 40% 22%, #d35 40%, rgba(221,51,85,0) 45%) 52px 50px,
        radial-gradient(circle closest-side at 60% 22%, #d35 40%, rgba(221,51,85,0) 45%) 48px 50px,
        radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 37%) 50px 50px;
    background-color:#b03;
    background-size:100px 100px;
}
